body{
    background-color: #68A357;
}

h1{
    font-size: 50px;
}
.main{
    display: flex;
    align-items: center;
}

.conta{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1690px;
    height: 800px;
    border: 1px solid black;
    background-color: #F1F0CC;
}

input{
    width: 200px;
    height: 40px;
    margin: 10px;
    outline:tomato;
    border:transparent;
    border-radius: 5px;
    background-color: #D5BF86;
    font-size: 17px;
    color: #2D936C ;
    font-weight: bold;
}

button{
    width: 70px;
    height: 40px;
    margin: 10px;
    outline:tomato;
    border: 2px solid rgb(130, 85, 85);
    border-radius: 5px;
}